@import "../../../util/variables";

.TodoItem {
    display: flex;
    justify-content: space-between;
    background-color: $secondaryColor;
    color: #eee;
    margin: 0.5rem 0;
    border-radius: 20px;
    height: 50px;
    
    .TodoTitle {
        padding: 0.6rem 0.8rem;
        display: flex;
        align-items: center;
    }

    .ButtonSet {
        width: 72px;
        margin-right: 0.6rem;
    }
}