@import "../../../util/variables";

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 2s;

    .ModalBackdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #0004;
        z-index: 100;
    }

    .ModalItself {
        width: 350px;
        margin-top: 50px;
        background-color: #FFF;
        border-radius: 20px;
        z-index: 101;

        .ModalHeader {
            padding: 0.5rem;
            box-sizing: border-box;
            height: 50px;
            display: flex;
            align-items: center;
            background-color: #222;
            text-decoration: underline;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: #FFF; 
        }
        
        .ModalBody {
            padding: 0.5rem;
        }
        
        .ModalFooter {
            box-sizing: border-box;
            padding: 0.5rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; 
            background-color: $thirdColor;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .ButtonSet {
                width: 200px;

                button {
                    width: 90px;
                    height: 30px;
                    cursor: pointer;
                    border: 3px solid #111;
                    font-weight: 700;
                    color: #fff;
                    background-color: #666;
                    border-radius: 5px;

                    &:hover {
                        color: #111;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    .ModalContainer {
        .ModalItself {
            width: 600px;
        }
    }
}