@import "../../util/variables";

.TodoList {
    animation: opacityAnimation 1s ease 0s 1;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;

    .NameAndMenu {
        display: flex;
        justify-content: space-between;

        .Buttons {
            display: flex;

            button {
                padding: 0 0.8rem;
                border-radius: 10px;
                border: 3px solid blue;
                background-color: $primaryColor;
                color: #fff;
                outline: none;
                cursor: pointer;

                &:hover,
                &:active {
                    background-color: blue;
                }
            }
        }
    }

    ul {
        list-style: none;
        margin-top: 1rem;
    }

    .NoTodos {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}

@keyframes opacityAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}