@import "../../../util/variables";

.DatePicker {
    color: white;
    background-color: $primaryColor;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    

    input {
        border: none;
        border-radius: 10px;
        outline: none;
        margin-left: 0.3rem;
        padding-left: 0.4rem;
    }
}