@import '../../../util/variables';

.ButtonContainer {   
    display: flex;
    justify-content: center;
    align-items: center;

    .Button {
        padding: 0.2rem;
        border-radius: 50%;
        border: none;
        background-color: $primaryColor;
        color: #fff;
        outline: none;
        cursor: pointer;
    
        &:hover,
        &:active {
            background-color: blue;
        }
    }
}